<h2 class="text-center">Estadisticas de la pagina web</h2>
<p class="text-center">
  Aca se muestran estadisticas generales de la plataforma web
</p>
<h5 class="text-center">
  Valor Promedio Esperado: <br />
  {{ valorEsperadoPromedio }}
</h5>
<br/>
<h5 class="text-center">
  Valor Promedio Financiado: <br />
  {{ valorPromedioFinanciado }}
</h5>
<br/>
<div class="formularioValorPromedioDonacion">
  <form [formGroup]="idProyectoForm" (ngSubmit)="getValorAcumuladoDonacionesAUnProyecto()">
    <div class="form-floating mb-3">
      <input
        class="form-control"
        id="floatingIdProyecto"
        placeholder="Leave a comment here"
        formControlName="idProyecto"
      />
      <label for="floatingInput">Id del proyecto</label>
    </div>
    <button type="submit" class="btn btn-info my-2">Aceptar</button>
  </form>
</div>
<h5 class="text-center">
  Valor promedio donaciones a un proyecto: <br />
{{donacionPromedioPorProyecto}}
</h5>
