.formularioRegistro{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10%;
    margin: 10px;
}
.actualizarUsuario{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10%;
    margin: 10px;
}
